DATABASE_URL: "mysql://now_test:mariadb_password@nowdb-db-dev:3306/now_test"
SECRET: abcdefg
USER_CREATION_SECRET: abcdefg
NOWDB_BACKEND_PORT: 4000
LOGIN_VALID_MINUTES: 120
BACKEND_MODE: dev
MARIADB_HOST: nowdb-db-dev
MARIADB_ROOT_PASSWORD: admin
MARIADB_DATABASE: now_test
MARIADB_LOG_DATABASE: now_log_test.log
MARIADB_USER: now_test
MARIADB_PASSWORD: mariadb_password
MARIADB_PORT: 3306
