# For running with anonymous data, for e2e tests in local or github actions
services:
  frontend:
    container_name: nowdb-frontend-anon
    build:
      context: ./frontend
      dockerfile: dev.Dockerfile
    volumes:
      - ./frontend/src:/usr/src/app/src
    ports:
      - 127.0.0.1:5173:5173
    env_file: .anon.env

  backend:
    container_name: nowdb-backend-anon
    depends_on:
      db-anon:
        condition: service_healthy
    env_file: .anon.env
    ports:
      - 127.0.0.1:4000:4000
    build:
      context: .
      dockerfile: ./backend/dev.Dockerfile
      target: dev
    volumes:
      - ./backend/src:/usr/src/app/backend/src
      - ./frontend/src/:/usr/src/app/frontend/src/
      - ./test_data:/usr/src/app/test_data
    healthcheck:
      test: curl -f http://localhost:4000/test/ping || exit 1
      start_period: 10s
      interval: 30s
      retries: 3
      timeout: 15s

  db-anon:
    container_name: nowdb-db-anon
    image: mariadb:11.4.3
    env_file: .anon.env
    environment:
      - MYSQL_WAIT_TIMEOUT=28800
      - MYSQL_INTERACTIVE_TIMEOUT=28800
    volumes:
      - ./test_data/:/docker-entrypoint-initdb.d
      - nowdb-db-anon:/var/lib/mysql/data
    ports:
      - 127.0.0.1:3306:3306
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  phpmyadmin:
    restart: always
    image: phpmyadmin:5.2.1
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST: db-anon
      PMA_PORT: 3306
    ports:
      - "8080:80"
      - "9090:443"

volumes:
  nowdb-db-anon:
