.species-table {
  overflow-x: auto;
  padding-bottom: 1em;
  margin: 2em;
}

.species-table table {
  width: fit-content;
  border-collapse: collapse;
}

.species-table table * {
  white-space: nowrap;
}

.species-table table td,
.species-table table th {
  border: 1px solid rgb(177, 177, 177);
  border-width: 0 1px 1px 0;
  text-align: left;
  padding: 0.1em 0.4em;
}

.species-table table th {
  border-width: 0 1px 2px 0;
}

.species-table table th:last-child,
.species-table table td:last-child {
  border-right: none;
}

.species-table table tr:last-child td {
  border-bottom: none;
}

.locality-details-panel {
  padding: 1em 2em;
}

.locality-details-panel a {
  text-decoration: none;
  color: black;
}
