#map-container {
  --map-height: 70vh;
  overflow: hidden;
  height: 0;
  transition: height 0.2s ease-out;
  margin-bottom: 0.8em;
  border-radius: 0.25em;
}

#localities-map button {
  background-color: #ab742e;
  box-shadow: inset 0 -3px 3px #00000011;
  border-radius: 0.25em 0.25em 0 0;
  margin-left: 0.25em;
}

#map-container.open {
  height: var(--map-height);
}

#map-container > div {
  height: var(--map-height);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

#map-container.open > div {
  opacity: 1;
}

#localities-map .button-row {
  display: flex;
  justify-content: flex-end;
}

#localities-map .cluster-btn {
  background-color: #f0f5fa;
  height: 30px;
  width: 70px;
  position: absolute;
  z-index: 1000;
  margin-left: 57px;
  margin-top: 12px;
  border-radius: 2px;
  border: 'none';
  box-shadow: '1px 1px 1px 1px grey';
}
