#main-navbar {
  background-color: #2e7fab;
  --color-hl: #3896c9;
  flex-wrap: wrap;
}

#main-navbar .user-controls {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.8em;
}

#main-navbar .user-controls .logged-in-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
}

#main-navbar .username-box {
  display: flex;
  border: 2px solid var(--color-hl);
  border-radius: 0.25rem;
  padding: 0.4em 1em 0.3em 0.5em;
  gap: 0.8em;
}

#main-navbar .menu-list {
  margin-left: 1.4em;
}

#main-navbar .dropdown-link {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

#main-navbar .dropdown-link svg {
  padding-top: 0.1em;
}

#main-navbar .menu-item,
#main-navbar .logout-link,
#main-navbar .login-link {
  transition: background 0.1s ease-out;
  background-color: transparent;
  border-radius: 0.25rem;
}

#main-navbar .menu-item:hover,
#main-navbar .logout-link:hover,
#main-navbar .login-link:hover {
  background-color: var(--color-hl);
}
