.table-tool-bar {
  display: flex;
  align-items: center;
  padding: 0.6em;
  flex: 1;
  justify-content: space-between;
}

.table-tool-bar .contact-button {
  margin-left: 0.6em;

  color: #2e7fab;
  border-color: #2e7fab;
}
